.fon{
    background-color: blueviolet;
    padding-left: 480px;
    padding-right: 480px;
}
.flexContainerPrincipal {
    background-image: url(https://st1.uvnimg.com/dims4/default/ce759a0/2147483647/thumbnail/1240x698/quality/75/?url=http%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2F3c%2Fa6%2F921400d0499cb2980b77c519307e%2Ffutbol-generic-entry-point.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .titulo {
    text-align: center;
  }
  
  .flexContainerUsers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .userContainer{
    background-color: rgb(241, 246, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .acercaFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .usuarioFormContainer {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
  }
  
  .containerBotones{
    /*background-color: aqua;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .botonNavegacionUsuarios {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px
  }